@media screen and (max-width: 1024px) {
.wrapper {
	width: 700px;
}
}

@media screen and (max-width: 770px) {
.wrapper {
    width: 550px;
}
}

@media screen and (max-width: 600px) {
.wrapper {
    width: 380px;
}
}

@media screen and (max-width: 420px) {
.wrapper {
    width: 280px;
}
}